<div class="row">
    <div class="col-xs-12 text-right mobile-only hidden-xs">
        <button type="button" class="btn btn-link" (click)="backToListClicked()">
            Back to List
        </button>
        <button type="button" class="btn btn-primary" (click)="createButtonClicked()">
            Create Coupon
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center mobile-only">
        <h1><b>Create a Coupon</b></h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-7">
        <div class="form-group">
            <label for="couponTitle">Coupon Title</label>
            <input [(ngModel)]="coupon.title" type="text" class="form-control" id="couponTitle" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="couponDescription">Coupon Description</label>
            <textarea [(ngModel)]="coupon.description" class="form-control" id="couponDescription"
                      placeholder="Description"></textarea>
        </div>
    </div>
    <div class="col-xs-12 col-lg-5">
        <div class="form-group">
          <label class="date-label" for="couponStartDate">Start Date</label>
          <p-calendar readonlyInput="readonlyInput" [(ngModel)]="coupon.startDate"></p-calendar>
          <div type="button" class="btn btn-link" (click)="clearStartDate()"><span class="glyphicon glyphicon-remove-circle"></span></div>
        </div>
        <div class="form-group">
          <label class="date-label" for="couponExDate">Expiration Date</label>
          <p-calendar readonlyInput="readonlyInput" [(ngModel)]="coupon.expDate"></p-calendar>
          <div type="button" class="btn btn-link" (click)="clearExpDate()"><span class="glyphicon glyphicon-remove-circle"></span></div>
        </div>
        <div class="form-group">
            <label for="couponCode">Coupon Code</label>
            <input [(ngModel)]="coupon.code" type="text" class="form-control" id="couponCode" placeholder="COUPONCODE">
        </div>
        <div class="form-group">
            <app-image-upload></app-image-upload>
            <p-messages [value]="errorMessages"></p-messages>
        </div>
    </div>
</div>
    <div class="col-xs-12 text-right hidden-sm hidden-md hidden-lg mobile-action-buttons">
        <button type="button" class="btn btn-link" (click)="backToListClicked()">
            Back to List
        </button>
        <button type="button" class="btn btn-primary" (click)="createButtonClicked()">
            Create Coupon
        </button>
    </div>

<app-modal-loading *ngIf="displayLoading"></app-modal-loading>
