<div class="row">
    <div class="col-xs-12 text-right mobile-only">
        <button type="button" class="btn btn-danger" (click)="deleteButtonClicked()">
            Delete
        </button>
        <button type="button" class="btn btn-primary" routerLink="/admin/news-edit/{{ newsId }}">
            Edit
        </button>
    </div>
</div>
<div class="row header-margin">
    <div class="col-xs-12">
        <h1 class="text-center mobile-only"><b>News &amp; Sales</b></h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-4" *ngIf="newsItem.image">
                        <img class="img-responsive" src="{{ newsItem.image }}">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h4 class="header-margin mobile-only">Title</h4>
                        <p><b>{{ newsItem.title }}</b></p>
                        <h4>Content</h4>
                        <p>{{ newsItem.content }}</p>
                        <small><b>Created By:</b> {{ newsItem.createdBy }} <b>On</b> {{ newsItem.createdDate | date }}
                        </small>
                        <br>
                        <small *ngIf="newsItem.editedBy"><b>Edited By:</b> {{ newsItem.editedBy }} <b>On</b>
                          {{ newsItem.editedDate | date }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p-confirmDialog></p-confirmDialog>
        <app-modal-loading *ngIf="displayLoading"></app-modal-loading>
        <p-messages [value]="errorMessages"></p-messages>
    </div>
</div>
