<div class="row">
    <div class="col-xs-12 text-right hidden-xs">
        <button type="button" class="btn btn-link" (click)="cancelButtonClicked()">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="saveButtonClicked()">
            Save
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="text-center mobile-only"><b>Edit Coupon</b></h1>
    </div>
    <div class="col-xs-12 col-lg-7">
        <div class="form-group">
            <label for="newsOrSaleTitle">Coupon Title</label>
            <input [(ngModel)]="coupon.title" type="text" class="form-control" id="newsOrSaleTitle">
        </div>
        <div class="form-group">
            <label for="newsOrSaleContent">Coupon Description</label>
            <textarea [(ngModel)]="coupon.description" class="form-control" id="newsOrSaleContent"></textarea>
        </div>
    </div>
    <div class="col-xs-12 col-lg-5">
        <div class="form-group">
          <label class="date-label" for="couponStartDate">Start Date</label>
          <p-calendar readonlyInput="readonlyInput" [(ngModel)]="coupon.startDate"></p-calendar>
          <div type="button" class="btn btn-link" (click)="clearStartDate()"><span class="glyphicon glyphicon-remove-circle"></span></div>
        </div>
        <div class="form-group">
          <label class="date-label" for="couponExDate">Expiration Date</label>
          <p-calendar readonlyInput="readonlyInput" [(ngModel)]="coupon.expDate"></p-calendar>
          <div type="button" class="btn btn-link" (click)="clearExpDate()"><span class="glyphicon glyphicon-remove-circle"></span></div>
        </div>
        <div class="form-group">
            <label for="couponCode">Coupon Code</label>
            <input [(ngModel)]="coupon.code" type="text" class="form-control" id="couponCode" placeholder="COUPONCODE">
        </div>

        <div *ngIf="coupon.image !== ''">
            <img class="img-responsive" src="{{ coupon.image }}">
            <div class="image-remove-link text-center">
                <a (click)="deleteImageButtonClicked()"><span class="glyphicon glyphicon-remove-sign"></span> Remove Image</a>
            </div>
        </div>
        <app-image-upload *ngIf="coupon.image === ''"></app-image-upload>

    </div>
</div>
<p-messages [value]="errorMessages"></p-messages>
    <div class="col-xs-12 text-right hidden-sm hidden-md hidden-lg mobile-action-buttons">
        <button type="button" class="btn btn-link" (click)="cancelButtonClicked()">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="saveButtonClicked()">
            Save
        </button>
    </div>

<app-modal-loading *ngIf="displayLoading"></app-modal-loading>
