<p-dialog header="Loading..." [(visible)]="display" [closable]="false" width="300" [closeOnEscape]="false"
  [modal]="true" [draggable]="false" [resizable]="false" [responsive]="true">
  <div class="in-app-loading-spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</p-dialog>
