<div class="row">
    <div class="col-xs-12 text-right hidden-xs">
        <button type="button" class="btn btn-link" (click)="cancelButtonClicked()">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="saveButtonClicked()">
            Save
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="text-center mobile-only"><b>Edit News or Sale</b></h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-7">
        <div class="form-group">
            <label for="newsOrSaleTitle">News or Sale Title</label>
            <input [(ngModel)]="newsItem.title" type="text" class="form-control" id="newsOrSaleTitle">
        </div>
        <div class="form-group">
            <label for="newsOrSaleContent">News or Sale Content</label>
            <textarea [(ngModel)]="newsItem.content" class="form-control" id="newsOrSaleContent"></textarea>
        </div>
    </div>
    <div class="col-xs-12 col-lg-5">

        <div *ngIf="newsItem.image !== ''">
            <img class="img-responsive" src="{{ newsItem.image }}">
            <div class="image-remove-link text-center">
                <a (click)="deleteImageButtonClicked()"><span class="glyphicon glyphicon-remove-sign"></span> Remove Image</a>
            </div>
        </div>
        <app-image-upload *ngIf="newsItem.image === ''"></app-image-upload>

    </div>
</div>

<p-messages [value]="errorMessages"></p-messages>
<div class="col-xs-12 text-right hidden-sm hidden-md hidden-lg mobile-action-buttons">
  <button type="button" class="btn btn-link" (click)="cancelButtonClicked()">
    Cancel
  </button>
  <button type="button" class="btn btn-primary" (click)="saveButtonClicked()">
    Save
  </button>
</div>

<app-modal-loading *ngIf="displayLoading"></app-modal-loading>