<!-- Nav Bar -->
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="col-xs-8 col-sm-12 text-center">
        <a class="navbar-brand" href="#"><img class="logo"
          src="assets/img/subaru-logo-scranton-side-white.png"></a>
      </div>
    </div>
  </div>
</nav>

<!-- Content -->

<div id="login" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3">
  <div class="login-wrapper">
    <div class="col-xs-12 text-center">
      <img class="login-logo" src="assets/img/subaru-logo-scranton-side.png">
    </div>

    <div class="col-xs-12 col-lg-8 col-lg-offset-2" *ngIf="!isUserResettingPassword">
      <div class="col-xs-12 text-center">
        <h1 class="login-header">Login</h1>
      </div>
      <div class="login-form">
        <div class="form-group">
          <div class="form-group col-xs-12">
            <label>Email</label>
            <input class="form-control" [(ngModel)]="model.email" type="text">
          </div>
          <div class="form-group col-xs-12">
            <label>Password</label>
            <input class="form-control" [(ngModel)]="model.password" type="password">
          </div>
          <div class="col-xs-12">
            <button class="btn btn-primary btn-block" (click)="loginButtonClicked()">Login</button>
            <p-messages [value]="messages"></p-messages>
          </div>
          <div class="col-xs-12 text-center login-create-link">
            <a (click)="forgotPasswordClicked()">Forget Password?</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-8 col-lg-offset-2" *ngIf="isUserResettingPassword">
      <div class="col-xs-12 text-center">
        <h1 class="login-header">Reset Password</h1>
      </div>
      <div class="login-form">
        <div class="form-group">
          <div class="form-group col-xs-12">
            <label>Email</label>
            <input class="form-control" [(ngModel)]="model.email" type="text">
          </div>
          <div class="col-xs-12">
            <button class="btn btn-primary btn-block" (click)="resetButtonClicked()" [disabled]="isResetDisabled">Reset</button>
            <p-messages [value]="messages"></p-messages>
          </div>
          <div class="col-xs-12 text-center login-create-link">
            <a (click)="cancelForgotPasswordClicked()">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
