#login{

  .login-wrapper{
    margin-top: 150px;
  }

  .login-logo{
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      width: 60%;
    }
  }

  .login-header{
    margin-top: 40px;
  }

  .login-form{
    margin-top: 20px;
  }

  .login-create-link{
    margin-top: 40px;
  }

}