<div class="row">
    <div class="col-xs-12 text-right mobile-only">
        <button type="button" class="btn btn-danger" (click)="deleteButtonClicked()">
            Delete
        </button>
        <button type="button" class="btn btn-primary" routerLink="/admin/coupon-edit/{{ couponId }}">
            Edit
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="text-center mobile-only header-margin"><b>Coupon</b></h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-4" *ngIf="coupon.image">
                        <img class="img-responsive" src="{{ coupon.image }}">
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <h4 class="header-margin mobile-only">Title</h4>
                        <p><b>{{ coupon.title }}</b></p>
                        <h4 class="header-margin mobile-only">Code</h4>
                        <p><b>{{ coupon.code }}</b></p>
                        <h4>Content</h4>
                        <p>{{ coupon.description }}</p>
                        <small><b>Created By:</b> {{ coupon.createdBy }} <b>On</b> {{ coupon.createdDate | date }}</small><br>
                        <small *ngIf="coupon.editedBy"><b>Edited By:</b> {{ coupon.editedBy }} <b>On</b> {{ coupon.editedDate | date }}</small><br>

                        <!-- no dates -->
                        <span *ngIf="!coupon.expDate && !coupon.startDate">
                          <small><b>Expires:</b> Ongoing</small>
                        </span>

                        <!-- only end date -->
                        <span *ngIf="coupon.expDate && !coupon.startDate">
                          <small><b>Expires:</b> {{ coupon.expDate | date }}</small>
                        </span>

                        <!-- only start date -->
                        <span *ngIf="!coupon.expDate && coupon.startDate">
                          <small><b>Valid:</b> {{ coupon.startDate | date }} <b>thru</b> Ongoing</small>
                        </span>

                        <!-- both dates -->
                        <span *ngIf="coupon.expDate && coupon.startDate">
                          <!-- both dates are the same -->
                          <span *ngIf="coupon.expDate === coupon.startDate">
                            <small><b>Valid:</b> {{ coupon.startDate | date }} <b>One Day Only</b></small>
                          </span>

                          <!-- dates are not the same -->
                          <span *ngIf="coupon.expDate !== coupon.startDate">
                            <small><b>Valid:</b> {{ coupon.startDate | date }} <b>thru</b> {{ coupon.expDate | date }}</small>
                          </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog></p-confirmDialog>
<app-modal-loading *ngIf="displayLoading"></app-modal-loading>
<p-messages [value]="errorMessages"></p-messages>
