<div class="row">
    <div class="col-xs-12">
        <h1><b>Social Media</b></h1>
        <p>Copy and paste the HANDLE of your social media platforms.</p>
        <small>
            Example: mybusiness = YES // www.facebook.com/mybusiness = NO <br>
            <i>Fields left blank will not be displayed on the mobile app.</i>
        </small>
    </div>
</div>
<div class="row header-margin">
    <div class="col-xs-12 col-lg-8">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="socialMediaFacebook"><i class="fa fa-facebook-f"
                                                        aria-hidden="true"></i>&nbsp;Facebook</label>
                    <input type="text" class="form-control" id="socialMediaFacebook" [(ngModel)]="urls.facebook">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="socialMediaTwitter"><i class="fa fa-twitter"
                                                       aria-hidden="true"></i>&nbsp;Twitter</label>
                    <input type="text" class="form-control" id="socialMediaTwitter" [(ngModel)]="urls.twitter">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="socialMediaGoogle"><i class="fa fa-google-plus"
                                                      aria-hidden="true"></i>&nbsp;Google+</label>
                    <input type="text" class="form-control" id="socialMediaGoogle" [(ngModel)]="urls.googlePlus">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="socialMediaYoutube"><i class="fa fa-youtube-play"
                                                       aria-hidden="true"></i>&nbsp;YouTube</label>
                    <input type="text" class="form-control" id="socialMediaYoutube" [(ngModel)]="urls.youTube">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="socialMediaInstagram"><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;Instagram</label>
                    <input type="text" class="form-control" id="socialMediaInstagram" [(ngModel)]="urls.instagram">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="socialMediaPinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i>&nbsp;Pinterest</label>
                    <input type="text" class="form-control" id="socialMediaPinterest" [(ngModel)]="urls.pinterest">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="socialMediaTumblr"><i class="fa fa-tumblr" aria-hidden="true"></i>&nbsp;Tumblr</label>
                    <input type="text" class="form-control" id="socialMediaTumblr" [(ngModel)]="urls.tumblr">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="businessWebsite"><i class="fa fa-chrome" aria-hidden="true"></i>&nbsp;Your Website</label>
                    <input type="text" class="form-control" id="businessWebsite" [(ngModel)]="urls.website">
                </div>
                <p-messages [value]="messages"></p-messages>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary" (click)="saveButtonClicked()">
            Save
        </button>
    </div>
</div>

<app-modal-loading *ngIf="displayLoading"></app-modal-loading>
