<label for="couponImageFile">Image Upload (optional)</label>
<p class="help-block">It is recommended that you upload an image with your coupon because it looks better for your users.</p>
<input type="file" (change)="chooseFileClicked(fileInput)" #fileInput accept="image/*">
<button type="button" class="btn btn-primary" (click)="fileInput.click()">Select Image</button>
<img class="img-responsive header-margin" [attr.src]='imageBase64'>
<div *ngIf="imageBase64 !== ''" class="image-remove-link text-center">
    <a type="button" (click)="deleteButtonClicked()"><span class="glyphicon glyphicon-remove-sign"></span>Remove Image</a>
</div>
