/*-----------------------------  Navigation  -----------------------------------*/

#sidebar {
  background-color: #4c4c4c;
  color: #eee;
  height: 100%;
}

.side-bar-header{
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #b0b0b0;
  margin-bottom: 10px;
  padding-left: 20px;
}

.side-bar-link{
  font-size: 1.6rem;
  color: #ffffff;
  &:hover{
    text-decoration: none;
    color: #d7dfff;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  &.active{
    color: #d7dfff;
  }
  &:focus{
    text-decoration: none;
  }
}

.side-bar-li{
  padding: 8px 10px 8px 35px;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    background-color: #636363;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  &:focus{
    text-decoration: none;
  }
  &:visited{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
}

a.active li.side-bar-li {
  text-decoration: none;
  background-color: #636363;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.sidebar-wrapper {
  position: relative;
  @media screen and (max-width: 992px) {
    padding-top: 20px;
    padding-left: 20px;
  }
  @media screen and (min-width: 992px) {
    padding-top: 97px;
  }
}

#off-canvas {
  height: 100%;
}

.navbar-toggle {
  margin-left: 8px;
}

.off-canvas-no-pad {
  padding-left: 0;
  padding-right: 0;
}

.fixed-sidebar{
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0;
  }
  @media screen and (min-width: 768px) {
    position: fixed;
  }
}

.navbar-fixed-top{
  @media screen and (max-width: 768px) {
    position: relative;
  }
  @media screen and (min-width: 768px) {
    position: fixed;
    right: 17px;
  }
}

.navbar{
  z-index: 1000;
  margin-bottom: 0px;
}

/*-----------------------------  Main Content  -----------------------------------*/

#main-content {
  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 90px;
  }
}

.scroll-content-margin{
  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    margin-left: 8.33333333%;
  }
  @media screen and (min-width: 992px) and (max-width: 1209px) {
    margin-left: 26.4%;
  }
  @media screen and (min-width: 1209px) {
    margin-left: 17.5%;
  }
}

.container {
  margin-left: 0px;
  height: 100%;
  width: 100%;
}

/*-----------------------------  Off Canvas  -----------------------------------*/

@media screen and (max-width: 992px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    left: 0;
  }

  .row-offcanvas-left.active {
    left: 95%; /* 6 columns */
    padding-left: 60px;
  }

  .sidebar-offcanvas {
    left: -95%; /* 6 columns */
    position: absolute;
    top: 0;
    width: 95%; /* 6 columns */
  }
}

.off-canvas-scroll{
  overflow-y: auto;
}