<!-- Nav Bar -->

<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="row">
                <div class="col-xs-2 hidden-lg">
                    <button type="button" (click)="navToggleClick()" class="navbar-toggle collapsed pull-left">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="col-xs-8 col-lg-12 text-center">
                    <a class="navbar-brand" routerLink="/"><img class="logo"
                                                                src="../assets/img/subaru-logo-scranton-side-white.png"></a>
                </div>
                <div class="col-xs-2">

                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="./user-account">{{ userEmail }}</a></li>
                <li><a (click)="logoutClicked()">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Off Canvas -->
<div class="container pull-left">
    <div class="row row-offcanvas row-offcanvas-left" id="off-canvas" [class.active]="isNavOpen">

        <!-- Side Menu -->
        <div class="col-xs-10 col-sm-3 col-lg-2 sidebar-offcanvas off-canvas-no-pad fixed-sidebar off-canvas-scroll" id="sidebar">
            <div class="sidebar-wrapper" (click)="closeSideMenu()">
                <div class="side-bar-header">News &amp; Sales</div>
                <ul class="list-unstyled">
                    <a class="side-bar-link" routerLink="./news-all" routerLinkActive="active">
                        <li class="side-bar-li">All News &amp; Sales</li>
                    </a>
                    <a class="side-bar-link" routerLink="./news-create" routerLinkActive="active">
                        <li class="side-bar-li">Create News &amp; Sales</li>
                    </a>
                </ul>
                <div class="side-bar-header">Coupons</div>
                <ul class="list-unstyled">
                    <a class="side-bar-link" routerLink="./coupon-all" routerLinkActive="active">
                        <li class="side-bar-li">All Coupons</li>
                    </a>
                    <a class="side-bar-link" routerLink="./coupon-create" routerLinkActive="active">
                        <li class="side-bar-li">Create a Coupon</li>
                    </a>
                </ul>
                <div class="side-bar-header">Social Media</div>
                <ul class="list-unstyled">
                    <a class="side-bar-link" routerLink="./social-media" routerLinkActive="active">
                        <li class="side-bar-li">Account Management</li>
                    </a>
                </ul>
                <div class="side-bar-header">Accounts</div>
                <ul class="list-unstyled">
                    <a class="side-bar-link" routerLink="./user-account" routerLinkActive="active">
                        <li class="side-bar-li">My Account</li>
                    </a>
                    <a class="side-bar-link visible-xs-sm hidden-md hidden-lg" (click)="logoutClicked()">
                        <li class="side-bar-li">Sign Out</li>
                    </a>
                </ul>
            </div>
        </div>

        <!-- Content -->
        <div id="main-content">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-10 scroll-content-margin">
                    <div class="col-xs-12 col-md-10 col-lg-8 col-lg-offset-2">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
