<div class="row">
    <div class="col-xs-12 text-right mobile-only hidden-xs">
        <button type="button" class="btn btn-link" (click)="backToListClicked()">
            Back to List
        </button>
        <button type="button" class="btn btn-primary" (click)="publishButtonClicked()">
            Publish
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center mobile-only">
        <h1><b>Create News or Sale</b></h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-7">
        <div class="form-group">
            <label for="newsOrSaleTitle">News or Sale Title</label>
            <input [(ngModel)]="newsItem.title" type="text" class="form-control" id="newsOrSaleTitle"
                   placeholder="Title">
        </div>
        <div class="form-group">
            <label for="newsOrSaleContent">News or Sale Content</label>
    <textarea [(ngModel)]="newsItem.content" class="form-control" id="newsOrSaleContent"
              placeholder="Description"></textarea>
        </div>
    </div>
    <div class="col-xs-12 col-lg-5">
        <div class="form-group">
            <app-image-upload></app-image-upload>
            <p-messages [value]="errorMessages"></p-messages>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-right hidden-sm hidden-md hidden-lg mobile-action-buttons">
        <button type="button" class="btn btn-link" (click)="backToListClicked()">
            Back to List
        </button>
        <button type="button" class="btn btn-primary" (click)="publishButtonClicked()">
            Publish
        </button>
    </div>
</div>

<app-modal-loading *ngIf="displayLoading"></app-modal-loading>