<div class="row">
    <div class="col-xs-12">
        <h1><b>My Account</b></h1>
    </div>
</div>
<div class="row header-margin">
    <div class="col-xs-12">
        <div class="row header-margin">
            <div class="col-xs-4 col-sm-3">
                <h4>Email:</h4>
            </div>
            <div class="col-xs-8 col-sm-9">
                <h5>{{ userEmail }}</h5>
            </div>
        </div>
        <div class="row header-margin">
            <div class="col-xs-4 col-sm-3">
                <h4>Password:</h4>
            </div>
            <div class="col-xs-5 col-sm-5">
                <a (click)="changePasswordClicked()">Change Password</a>
            </div>
        </div>
        <div *ngIf="showChangePassword">
            <hr>
            <div class="row header-margin">
                <div class="col-xs-12 col-lg-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="currentPassword">Current Password:</label>
                                <input id="currentPassword" class="form-control" [(ngModel)]="model.currentPassword"
                                       type="password">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="newPassword">New Password:</label>
                                <input id="newPassword" class="form-control" [(ngModel)]="model.newPassword"
                                       type="password">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="confirmNewPassword">Confirm New Password:</label>
                                <input id="confirmNewPassword" class="form-control"
                                       [(ngModel)]="model.confirmNewPassword"
                                       type="password">
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button type="button" class="btn btn-link" (click)="cancelChangePasswordClicked()">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-primary" (click)="SubmitNewPasswordButtonClicked()">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <p-messages [value]="messages"></p-messages>
    </div>
</div>

<app-modal-loading *ngIf="displayLoading"></app-modal-loading>
