<div class="row">
    <div class="col-xs-12 col-sm-8 text-center mobile-only">
        <h1><b>All News &amp; Sales</b></h1>
    </div>
    <div class="col-xs-12 col-sm-4 text-right mobile-only">
        <button type="button" class="btn btn-primary" routerLink="../news-create">
            Add New
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 mobile-panel-margin">
        <div class="panel panel-default" *ngFor="let news of newsItems | async | reverse">
            <a class="card-link" routerLink="/admin/news/{{ news.$key }}">
                <div class="panel-body">
                    <div class="row">
                        <!--If an image exists-->
                        <div *ngIf="news.image !== ''">
                            <div class="col-xs-12 col-md-4" *ngIf="news.image">
                                <img class="img-responsive" src="{{ news.image }}">
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <h2 class="header-margin">{{ news.title }}</h2>
                                <p>{{ news.content }}</p>
                                <small><b>Created:</b> {{ news.createdDate | date }}</small>
                                <div class="text-right"><b>See More</b></div>
                            </div>
                        </div>
                        <!--If an image does not exist-->
                        <div *ngIf="news.image === ''">
                            <div class="col-xs-12">
                                <h2 class="header-margin">{{ news.title }}</h2>
                                <p>{{ news.content }}</p>
                                <small><b>Created:</b> {{ news.createdDate | date }}</small>
                                <div class="text-right"><b>See More</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
