/* You can add global styles to this file, and also import other style files */

html, body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding: 0px;
  margin: 0 auto;
  height: 100%;
  background-color: #f9fbff;
}

/*-----------------------------  Navigation  -----------------------------------*/

.logo{
  @media screen and (max-width: 768px) {
    margin-left: 0;
    width: 165px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 0px;
    width: 175px;
  }
}

.navbar-nav{
  float: right;
}

.navbar-brand{
  padding: 6px 6px;
}

.navbar-inverse{
  background-color: #333333;
}

@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

/*-----------------------------  Typography  -----------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  color: #575757;
  margin-top: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #575757;
  a {
    color: #365196;
    &:hover{
      color: #2b3e6f;
    }
  }
}

a {
  cursor: pointer;
}

.text-center{
  &.mobile-only{
    @media screen and (max-width: 768px){
      text-align: center;
    }
    @media screen and (min-width: 768px){
      text-align: left;
    }
  }
}

.text-right{
  &.mobile-only{
    @media screen and (max-width: 768px){
      text-align: center;
    }
    @media screen and (min-width: 768px){
      text-align: right;
    }
  }
}

p{
  color: #808080;
}

/*-----------------------------  Buttons  -----------------------------------*/

.btn {
  padding: 11px 28px;
  font-size: 16px;
  border: none;
}

.btn-primary{
  background-color: #365196;
  &:hover{
    background-color: #2b3e6f;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
}

.btn-link{
  color: #365196;
}

.mobile-action-buttons{
  margin: 20px 0;
  text-align: center;
}

/*-----------------------------  Forms  -----------------------------------*/

textarea.form-control {
  height: 200px;
}

/*-----------------------------  Main Content  -----------------------------------*/

.col-xl-panel {
  @media screen and (min-width: 1400px){
    width: 66.66666667%;
  }
}

a:visited {
  text-decoration: none;
}

.card-link{
  p{
   color: #575757;
  }
}

.mobile-panel-margin{
  @media screen and (max-width: 768px) {
    margin-top: 3%;
  }
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.panel{
  h1,h2,h3,h4,h5,h6{
    font-weight: bold;
  }
}

.header-margin{
  margin-top: 12px;
  &.mobile-only{
    @media screen and (max-width: 992px) {
      margin-top: 12px;
    }
    @media screen and (min-width: 992px) {
      margin-top: 0;
    }
  }
}

.image-remove-link{
  margin-top: 10px;
  font-weight: bold;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.date-label{
  display: block;
}