<div class="row">
    <div class="col-xs-12 col-sm-8 text-center mobile-only">
        <h1><b>All Coupons</b></h1>
    </div>
    <div class="col-xs-12 col-sm-4 text-right mobile-only">
        <button type="button" class="btn btn-primary" routerLink="../coupon-create">
            Add New
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 mobile-panel-margin">
        <div class="panel panel-default" *ngFor="let coupon of coupons | async | reverse">
            <a class="card-link" routerLink="../coupon/{{ coupon.$key }}">
                <div class="panel-body">
                    <div class="row">
                        <!--If an image exists-->
                        <div *ngIf="coupon.image !== ''">
                            <div class="col-xs-12 col-md-4" *ngIf="coupon.image">
                                <img class="img-responsive" src="{{ coupon.image }}">
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <h2 class="header-margin mobile-only">{{ coupon.title }}</h2>
                                <p>{{ coupon.description }}</p>

                                <!-- no dates -->
                                <span *ngIf="!coupon.expDate && !coupon.startDate">
                                  <small><b>Expires:</b> Ongoing</small>
                                </span>

                                <!-- only end date -->
                                <span *ngIf="coupon.expDate && !coupon.startDate">
                                  <small><b>Expires:</b> {{ coupon.expDate | date }}</small>
                                </span>

                                <!-- only start date -->
                                <span *ngIf="!coupon.expDate && coupon.startDate">
                                  <small><b>Valid:</b> {{ coupon.startDate | date }} <b>thru</b> Ongoing</small>
                                </span>

                                <!-- both dates -->
                                <span *ngIf="coupon.expDate && coupon.startDate">
                                  <!-- both dates are the same -->
                                  <span *ngIf="coupon.expDate === coupon.startDate">
                                    <small><b>Valid:</b> {{ coupon.startDate | date }} <b>One Day Only</b></small>
                                  </span>

                                  <!-- dates are not the same -->
                                  <span *ngIf="coupon.expDate !== coupon.startDate">
                                    <small><b>Valid:</b> {{ coupon.startDate | date }} <b>thru</b> {{ coupon.expDate | date }}</small>
                                  </span>
                                </span>

                                <div class="text-right"><b>View Coupon</b></div>
                            </div>
                        </div>
                        <!--If an image does not exist-->
                        <div *ngIf="coupon.image === ''">
                            <div class="col-xs-12">
                                <h2 class="header-margin mobile-only">{{ coupon.title }}</h2>
                                <p>{{ coupon.description }}</p>

                                <!-- no dates -->
                                <span *ngIf="!coupon.expDate && !coupon.startDate">
                                  <small><b>Expires:</b> Ongoing</small>
                                </span>

                                <!-- only end date -->
                                <span *ngIf="coupon.expDate && !coupon.startDate">
                                  <small><b>Expires:</b> {{ coupon.expDate | date }}</small>
                                </span>

                                <!-- only start date -->
                                <span *ngIf="!coupon.expDate && coupon.startDate">
                                  <small><b>Valid:</b> {{ coupon.startDate | date }} <b>thru</b> Ongoing</small>
                                </span>

                                <!-- both dates -->
                                <span *ngIf="coupon.expDate && coupon.startDate">
                                  <!-- both dates are the same -->
                                  <span *ngIf="coupon.expDate === coupon.startDate">
                                    <small><b>Valid:</b> {{ coupon.startDate | date }} <b>One Day Only</b></small>
                                  </span>

                                  <!-- dates are not the same -->
                                  <span *ngIf="coupon.expDate !== coupon.startDate">
                                    <small><b>Valid:</b> {{ coupon.startDate | date }} <b>thru</b> {{ coupon.expDate | date }}</small>
                                  </span>
                                </span>

                                <div class="text-right"><b>View Coupon</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
